//Colors
$bgColor: #F3F0EA;
$darkGrey: #303031;
$medGrey: #66645E;
$green: #71A894;
$white: #ffffff;
$black: #000000;


//Font Sizes
$font-sm: 1.125rem; // 18px
$font-med: 1.5rem; // 24px
$font-lg: 3rem;   // 48px 
$font-xlg: 4rem; // 64px