//Colors
$bgColor: #F3F0EA;
$darkGrey: #303031;
$medGrey: #66645E;
$green: #71A894;
$white: #ffffff;
$black: #000000;


//Font Sizes
$font-sm: 1.125rem;
$font-med: 1.5rem;
$font-lrg: 3rem;
$font-xlrg: 4rem;
